li:hover,.home:hover {
    background-color: rgb(51, 59, 61);
}

i:hover,a:hover {
    background-color: rgb(45, 51, 53);
}
nav{
    background-color: #212529;
}

i{
  font-size: 24px;
  padding-right: 6px;
  color: #f1f1f5;
}

.nav-home:hover{
  background-color: rgb(23, 23, 24);
}
mat-radio-button{
  color:white;
}
a{
  display: flex;
  align-items: center;
  padding: 3px 4px;
  margin-bottom: 2px;
  transition: 0.3s;
  font-size: 15px;
  color: rgb(248, 252, 253);
}

li{
  display: inline-flex;
}
a{
  color: #f1f1f5;
}
