<section id="about">
    <div class="container">
        <h2><strong>{{'About'}}</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right">
                <picture>
                    <img src="https://firebasestorage.googleapis.com/v0/b/resume-website-92121.appspot.com/o/users%2FIMG_20230505_203431_956.jpg?alt=media&token=fa6d1955-d4fa-4359-9b11-226971fb4bb4"
                        alt="photo de profil" class="img-fluid"class="img-fluid rounded-circle">
                </picture>
                <div class="d-flex justify-content-center">
                    <a class="btn-social-media" href="https://www.linkedin.com/in/m-vamsi-krishna-817285254/"
                        rel="tooltip" target="_blank" title="{{'followMeOn'}} Linkedin">
                        <i class="fab fa-linkedin fa-lg "></i>
                    </a>
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon"
                        href="https://github.com/vamsi80/documents" rel="tooltip" target="_blank"
                        title="{{'followMeOn' }} GitHub">
                        <i class="fab fa-github fa-lg "></i></a>
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon"
                        href="https://justPic/contact/VK944" rel="tooltip" target="_blank"
                        title="{{'followMeOn' }} JustPic">
                        <i class="fab fa-j fa-lg"></i></a>
                </div>
            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>{{'jobTitle' }}</h3>
                <p class="font-italic">
                    {{'introduction Of Me'}}
                    <br>{{'Passionate About Development' }}<b>Front-End</b>.
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="mapMarker"></fa-icon><strong> {{'Mobility'}}</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="building"></fa-icon><strong>{{' Frame Work'}}</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="email"></fa-icon><strong><a href="mailto:vamsimannam111@gmail.com">
                                        vamsimannam111@gmail.com</a></strong>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <!-- <li>
                                <fa-icon [icon]="birthday"></fa-icon><strong> 26 {{'about.years' }}</strong>
                            </li> -->
                            <li>
                                <fa-icon [icon]="badge"></fa-icon><strong> {{'Graduation'}}</strong>
                            </li>
                            <!-- <li>
                                <fa-icon [icon]="home"></fa-icon><strong> {{'about.myResearch'}} </strong>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <!-- <p>
                    {{'about.researchDescription'}}
                </p> -->
            </div>
        </div>
    </div>
</section>