<div class="resume-section p-1 p-lg-5 d-flex align-items-center" id="certifications">
    <div class="w-100">
        <h2 class="mb-5"><strong>Certificates</strong></h2>

        <!-- <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5 certifications">
            <div class="resume-content">
                <h3 class="mb-0">Introduction to AI</h3>
                <div class="subheading mb-3"><a target="_blank" href="img/intro to ai.jpeg">Issued by IBM.</a></div>
                <p>
                    Artificial Intelligence (AI) is the field of computer science dedicated to creating intelligent
                    machines that can perceive,
                    learn, reason, and make decisions. By leveraging algorithms and vast amounts of data, AI systems
                    mimic human intelligence
                    and perform tasks such as problem-solving, pattern recognition, and language understanding.From
                    voice assistants to autonomous vehicles,
                    AI has diverse applications and the potential to revolutionize industries while raising ethical
                    considerations.
                </p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">May 11,2021</span>
            </div>
        </div> -->

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5 experience">
            <div class="resume-content">
                <h3 class="mb-0">Python for Data Science</h3>
                <div class="subheading mb-3"><a target="_blank" href="https://www.coursera.org/account/accomplishments/verify/4XUSH5XS4QWG?utm_source%3Dandroid%26utm_medium%3Dcertificate%26utm_content%3Dcert_image%26utm_campaign%3Dsharing_cta%26utm_product%3Dcourse">Proof.</a>
                </div>
                <div class="resume-image">
                    <img src="img/python_certificate.jpg" alt="Python Certificate" class="certificate-image">
                </div>
                <p>
                    Python is a versatile and beginner-friendly programming language known for its simplicity and
                    readability. It features
                    a concise syntax that emphasizes code readability and ease of use. Python supports multiple
                    programming paradigms,
                    including procedural, object-oriented, and functional programming, making it suitable for a wide
                    range of applications.
                    It has a vast standard library and an active community that contributes numerous third-party
                    libraries,
                    allowing developers to efficiently build applications for web development, data analysis, machine
                    learning, and more.
                </p>
            </div>
            <!-- <div class="resume-date text-md-right">
                <span class="text-primary">July 3,2021</span>
            </div> -->
        </div>


    </div>